# stm32 keil c build output
**/build
**/Debug
**/Drivers
**/.vscode
#for MDK-ARM IDE generated user files 
*.uvgui*
*.o*
*.d*
*.crf*
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.sct
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.map
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.lnp
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.htm
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.build_log.htm
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.axf
